{% extends 'mailing_list/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="col-12">
        <div class="row">

            <div class="col-6-text-center">
                <div class="card">
                    <section class="headline">
                        <h1 class="entry-title">
                            {{ object.title }}
                        </h1>
                        <div class="card-body">
                            <img class="card-img-top"
                                 src="{{ object.image| mymedia }}"
                                 alt="Card image cap">
                        </div>
                    </section>
                    <div class="card-body">
                        <p>
                            {{ object.body }}
                        </p>

                    </div>
                    <div class="card-footer">
                        <p>Просмотры: {{ object.view_count }}</p>
                        <p>Дата публикации: {{ object.data }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}